<!DOCTYPE html>
<html>
<head>
    <title>BRUHHHHH</title>
</head>
<body>
    <h1>welp</h1>
    <ul id = "ok">
        <li>
            <a href = "google.com">hello</a>
        </li>
    </ul>
</body>
<script>
// Send the same request
fetch('http://127.0.0.1:5000/hello')
    .then(function (response) {
        return response.json(); // But parse it as JSON this time
    })
    .then(function (json) {
        console.log('GET response as JSON:');
        console.log(json);
        var first = JSON.stringify(json[1])
        first = JSON.parse(first)
        document.getElementById("bruhh").innerHTML = first[1]
    })
</script>
</html>